/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
}

/*.page-header {
  background-color:$white-color;
  border: 1px solid #ECECEC;
}
.main-nav{
  display: flex;
  align-items: center;
}
.site-nav__list{
  display: flex;
  }
  .site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color:$title-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}
 .site-nav__item:not(:last-child){
    margin-right: 50px;}

.site-nav__link:hover,.site-nav__link:focus {
  color: $accent-color;
}
.line{
  position: relative;
}
.line::after{
  position: absolute;
  content: '';
background-color:$accent-color;
  background-repeat: no-repeat;
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
}
.contakt{
  display: flex;
  margin-left: auto;
}
.contakt__item:not(:last-child){
margin-right: 30px;
}
.contakt__link{ 
  display: flex;
  align-items: center;

  color: $primary-text-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;


}
.contakt__link:hover,
.contacts__link:focus {
  color:$accent-color;
}
.contakt__icon{
  fill: currentColor;
  margin-right: 10px;
}*/
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 93px;
  margin-bottom: 20px;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__part {
  color: #2196f3;
}

.logo--blac {
  margin-right: 93px;
  color: #212121;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

/*.hero {
padding: 200px 0;

display: flex;
background-color: $primary-bg-color;
}
.hero__title {
  margin-bottom: 30px;

  color: $white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.overlay{
 background-image:linear-gradient(to right,
   rgba(47, 48, 58, 0.4),
   rgba(47, 48, 58, 0.4)),
 url("../images/Img\(1\)\(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}*/
/*.backdrop{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;

background: rgba(0, 0, 0, 0.2);

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
  opacity: 0;
  pointer-events: none;

 
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50% ,-50%);

min-width: 528px;
min-height:  581px;

  background-color:$white-color;

  padding: 40px;
}
.closed{
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: $white-color;
  cursor: pointer;
  
  top: 8px;
  right: 8px;

  transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{
  fill: $accent-color;
}
}

.form__title{
  margin-bottom: 12px;
  font-weight: 700;

font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;

color: $title-text-color;
}

.form__grup{
position: relative;
width: 448px;

margin-bottom: 10px;

}
.form__text{
  display: inline-block;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;

color:$primary-text-color;

margin-bottom: 4px;
}
.form__imput{
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
cursor: pointer;

padding-left: 42px;
transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}
.form__imput:focus{
outline: none;
border:1px solid $accent-color;
}
.form__icon{
position: absolute;
top: 50%;
left: 12px;
 transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.form__imput:focus  +.form__icon{
fill: $accent-color;
}

.form__coment{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 4px;
}
.form__coments{
height: 120px;
 
padding: 12px 16px;
transition:border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__coments:focus{
outline: none;
border:1px solid $accent-color;
}

.form__coments::placeholder{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);
}
.form__options{
display: flex;
align-items: center;
justify-content: center;

font-size: 14px;
line-height: 1.71;

letter-spacing: 0.03em;

color:$primary-text-color;
}
.form-tick{
display: flex;
width: 16px;
height: 15px;

border: 2px solid $title-text-color;
border-radius: 2px;

margin-right: 7px;

}
.form__contract{
  text-decoration: none;
}
.checkbox{
appearance: none;
position: absolute;

&:checked + .form-tick{
border-color: transparent;
background-color: $accent-color;
background-image: url(../images/full-check.svg);
background-size: contain;
background-origin: border-box;
}
}*/
/*.title{
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

.pros{
  display: flex;

   list-style: none;
}
.pros__item:not(:last-child){
 margin-right: 30px;
}
.pros__title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pros__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.pros__tumb{
display: flex;

margin-bottom: 30px;
border-radius: 4px;
}*/
.title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

.work {
  display: none;
  padding-top: 0;
}

.work__second-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__overly {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  color: #ffffff;
  right: 0;
  bottom: 0;
}

.work__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}

/*.team {
background-color: #f5f4fa;
}
.team__list{
display: flex;
list-style: none;
}
.team__item:not(:last-child){
margin-right: 30px;
}
.team__item{
margin-left: auto;
margin-right: auto;
width: 100%;
background-color: $white-color;
}
.team__title {
margin-bottom: 50px;

color: $title-text-color;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}
.team__name{
padding-top: 30px;
padding-bottom: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team__name-title {
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.taem__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}*/
.team {
  background-color: #f5f4fa;
}

.team__list {
  list-style: none;
}

.team__item {
  background-color: #ffffff;
}

.team__title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team__name {
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.taem__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

/*.bottom {
  display: flex;
  padding: 60px 0;
  background-color: $primary-bg-color;
}
.botom__list{
  padding: 0;

   list-style: none;
}
.bottom__item:not(:last-child){
  margin-bottom: 9px;
}

.bottom__link{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
 
}
.bottom__link--white {
  color: $white-color;
}
  .bottom__link:hover, .bottom__link:focus{
  color: $accent-color;
  }

.bottom__title{
  color: $white-color;

font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 20px;
}
.bottom__tumb{
  display: flex;
  align-items: baseline;
}
.bottom__form{
  position: relative;
  
  margin-left: 93px;
}
.bottom__box{
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2F303A;
  padding-left: 16px;
  color:$white-color;
}
.icon-subscribe{
  padding-left: 10px;
  fill: $white-color;
}*/
/*.portfolio-title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
margin-top: 4px;
color:$primary-text-color;
font-size: 16px;
line-height: 1.87;
}
.portfolio-item:not(:last-child){
  margin-right: 8px;
}
.portfolio-links{
  display: block;
  text-decoration: none;
  transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,&:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.portfolio-list{
display: flex;
flex-wrap: wrap;
padding: 0;
margin-left: -30px;
margin-top: -30px;

list-style: none;
}
.portfolio-list >.portfolio-order{
flex-basis: calc(100% /3 - 30px);
margin-left: 30px;
margin-top: 30px;
}
.portfolio{
padding-top: 20px;
padding-bottom: 20px;
padding-left: 24px;
padding-right: 24px;
border-bottom:1px solid #ECECEC;
border-left: 1px solid #ECECEC;
border-right: 1px solid #ECECEC;
}
.overly{
position: relative;
overflow: hidden;
}
.portfolio-links:hover .overly-text ,.portfolio-links:focus .overly-text{
  transform: translateY(0);
}
.overly-text{
padding: 63px 24px;
 overflow: hidden;
display: flex;
position: absolute;
align-items: center;
justify-content: center;
font-family: Roboto;
font-weight: 400;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
width: 100%;
height: 100%;
background-color:rgba(33, 150, 243, 0.9) ;
color: #FFFFFF;
top: 0;
left: 0;
transform: translateY(101%);
transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1) ,color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}*/
.netvorks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.netvorks--bottom {
  margin-top: 20px;
}

.netvorks__item {
  width: 44px;
  height: 44px;
}

.netvorks__item:not(:last-child) {
  margin-right: 10px;
}

.netvorks__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.netvorks__link:hover, .netvorks__link:focus {
  border-radius: 50%;
  background-color: #2196f3;
  fill: #ffffff;
}

.netvorks__link--grey {
  fill: #AFB1B8;
  border-radius: 50%;
}

.social {
  margin-left: 70px;
}

/*.title-client{
margin-bottom: 50px;

color: $title-text-color;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}
.client{
  display: flex;
}
.client__item{
 width: 170px;
 height: 92px;
}
.client__item:not(:last-child){
  margin-right: 30px;
}
.client__link{
  width: 100%;
  height: 100%;
  display: flex;
   border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
    fill: #AFB1B8;

transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,&:focus{
  border-color: $accent-color;
 
   fill: $accent-color;
}
}*/
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
}

.hero__button {
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.form__button {
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}

.bottom__button {
  position: absolute;
  top: 35px;
  left: 370px;
  border: 212px;
}

.portfolio-all-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */