.logo {
  display: flex;
  margin-right:  93px;
  margin-bottom: 20px;

  color:$white-color;
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

}
.logo__part {
  color: $accent-color;
}
.logo--blac{
  margin-right:  93px;
  color: $title-text-color;
  
}